exports.run = (Discord, b, message, params) => {
	// do stuff
};

exports.config = {
    name: '',
    aliases: [],
    permission: '',
    permlevel: 0,
    description: '',
    usage: ``,
    category: '',
    enabled: true
};